<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product
		Id="*"
		Name="SampleApp Setup"
		Language="1033"
		Version="1.0.0.0"
		Manufacturer="SwinburneStudent"
		UpgradeCode="0faa5a1e-fd31-4808-bda8-d17c382eaaf1">

		<Package
			InstallerVersion="200"
			Compressed="yes"
			InstallScope="perMachine" />

		<MediaTemplate EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SampleApp" />
			</Directory>
		</Directory>

		<DirectoryRef Id="INSTALLFOLDER">
			<Component
				Id="MainExecutable"
				Guid="39723357-A119-466F-BC09-24CF4C80FFC6">
				<File
					Id="SampleAppEXE"
					Source="$(var.SampleApp.TargetPath)"
					KeyPath="yes" />
			</Component>
		</DirectoryRef>
		
		<Feature
			Id="ProductFeature"
			Title="SampleAppSetup"
			Level="1">
			<ComponentRef Id="MainExecutable" />
		</Feature>
	</Product>
</Wix>

